body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #cccccc;  /* creates padding around scroll thumb */
}

body::-webkit-scrollbar-thumb:hover {
  border: 3px solid #9e9e9e;  /* creates padding around scroll thumb */
}